<!--------- Registration area Start --------->
<section class="registration__area">
    <div class="container">
        <div class="registration__form" id="signup">
            <form action="/admin/forget-password" method="post">
                <% if(typeof error !=="undefined" ){ %>
                    <%error.forEach(errors=>{%>

                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <p>
                                <%= errors.msg %>
                            </p>

                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                        <% }) %>
                            <% } %>
                                <div class="row">




                                    <div class="col-sm-12">
                                        <div class="form__input">
                                            <input type="email" class="form-control" placeholder="Email Address"
                                                name="email" />
                                        </div>
                                    </div>





                                </div>
        </div>
        <div class="col-12">
            <div class="form__submit pt-1">
                <button class="common-btn w-100" type="submit">
                    forgot password
                </button>
            </div>
        </div>
    </div>
    </form>
    <!-- </div> -->

</section>
<!--------- Registration area End --------->