<!--------- Footer area Start --------->
<footer class="footer">
  <div class="container">
    <div class="footer__main">
      <div class="footer__logo">
        <a href="#"><img src="/img/logos/logo-footer.svg" alt="" /></a>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-12">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="footer__item">
                <h4>Quick Links</h4>
                <ul>
                  <li><a href="#">Build with us</a></li>
                  <li><a href="#">Hire Talents</a></li>
                  <li><a href="#">FAQ</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="footer__item">
                <h4>Company</h4>
                <ul>
                  <li><a href="#">Join our team</a></li>
                  <li><a href="#">Events</a></li>
                  <li><a href="#">Contact us</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="footer__item">
                <h4>Contact</h4>
                <ul>
                  <li>
                    <a href="mailto:hi@reactng.com">hi@reactng.com</a>
                  </li>
                  <li>
                    <a href="tel:+234-915-467-5121">+234-915-467-5121</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="footer__item">
                <h4>Legal</h4>
                <ul>
                  <li><a href="#">Privacy policy</a></li>
                  <li><a href="#">Terms of service</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="footer__item">
            <h4>Subscribe</h4>
            <ul>
              <li>Stay informed, subscribe to our newsletter</li>
            </ul>
            <div class="footer__form">
              <form action="">
                <input type="email" placeholder="Enter your email address" />
                <button class="common-btn btn-bordered">Subscribe!</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom d-flex">
      <p>
        <span>&copy;</span> 2022 ReactHQ- ReactHQ, Sprint and Spaces are
        Trademarks of Hydratech Software Solutions Ltd. Lagos
      </p>
      <div class="footer__social d-flex align-items-center">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
</footer>
<!--------- Footer area End --------->

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/main.js"></script>
</body>

</html>