<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>auth</title>
  <!-- Bootstrap CSS -->
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../../assets/css/all.min.css" rel="stylesheet" />
  <link href="../../assets/css/fontawesome.css" rel="stylesheet" />
  <link href="../../assets/css/aos.css" rel="stylesheet" />
  <link href="../../assets/css/style.css" rel="stylesheet" />
  <link href="../../assets/css/responsive.css" rel="stylesheet" />
  <link rel="stylesheet" href="../../assets/css//authLayoutsStyles.css" />
</head>