<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords"
    content="tech jobs,tech jobs in nigeria, tech jobs in abuja,tech jobs without coding, tech jobs in lagos,learn programming from scratch,learn programming in abuja,learn programming for beginners,learn programming for free,learn programming academy udemy,ReAct Africa,React africa,
    tech academy in nigeria,tech academy in lagos,tech academy reviews,tech academy cost,tech academy cost,bootcamp programming,bootcamp in lagos,bootcamps in nigeria" />
  <meta name="description" content="Start your Tech Career for Free!" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="shortcut icon" href="/img/logos/Icon - rounded square.png" type="image/x-icon" />
  <!-- Bootstrap CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/all.min.css" rel="stylesheet" />
  <link href="/css/fontawesome.css" rel="stylesheet" />
  <link href="/css/aos.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet" />
  <link href="/css/responsive.css" rel="stylesheet" />

  <link rel="stylesheet" href="/css//authLayoutsStyles.css" />
  <title>ReactHQ - Registration</title>
</head>

<body>
  <!--------- Offcanvas area start --------->
  <div class="offcanvas-area">
    <div class="menu-close">
      <i class="fal fa-times"></i>
    </div>
    <div class="offcanvas-menu">
      <div class="main-menu">
        <ul class="d-block">
          <li><a href="">FAQs</a></li>
        </ul>
        <div class="header__btns">
          <a href="#" class="common-btn btn-bordered">Sign In</a>
          <a href="#signup" class="common-btn"> Sign Up</a>
        </div>
      </div>
    </div>
  </div>

  <div class="offcanvas-overlay"></div>
  <!--------- Offcanvas area end --------->