<%- include("../partials/_header") %>

  <body>
    <div class="auth-container">
      <div class="wrapper-container">
        <div class="left_sidebar">
          <div class="img">
            <img src="../assets//img/logos//Full Logo.png" alt="" />
          </div>

          <%- body %>
        </div>


        <div class="right_sidebar">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil illo, expedita perspiciatis ut voluptatum aut!
          Magni vitae voluptas harum voluptate labore tenetur repellendus nesciunt dolorem, hic, in, laboriosam
          blanditiis obcaecati.
        </div>
      </div>

    </div>

    <%- include("../partials/_footer") %>