<%- include("../partials/_header") %>

  <body>
    <div class="auth-container">
      <div class="wrapper-container">
        <div class="left_sidebar">
          <div class="img">
            <img src="../assets//img/logos//Full Logo.png" alt="" />
          </div>

          <%- body %>
        </div>


        <div class="right_sidebar">

        </div>
      </div>

    </div>

    <script>
      // auto remove alert
      const alert = document.querySelector(".alert")
      window.addEventListener("load", () => {
        setInterval(() => {
          alert.style.display = "none"
        }, 2000)

      })
    </script>

    <%- include("../partials/_footer") %>