<!--------- Registration area Start --------->
<section class="registration__area">
    <div class="container">
        <div class="registration__form" id="signup">
            <form action="/admin/change_password/<%=admin.id %>?_method=PUT" method="post">
                <h2>Change Password</h2>
                <% if(typeof error !=="undefined" ){ %>
                    <%error.forEach(errors=>{%>

                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <p>
                                <%= errors.msg %>
                            </p>

                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                        <% }) %>
                            <% } %>
                                <div class="row">






                                    <div class="col-sm-12">
                                        <div class="form__input">
                                            <input type="password" class="form-control" placeholder="old password"
                                                name="oldpassword" />
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form__input">
                                            <input type="password" class="form-control" placeholder="password"
                                                name="password" />
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form__input">
                                            <input type="password" class="form-control" placeholder="Confirm password"
                                                name="password1" />
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form__submit" style="margin-top: -6px;">
                                            <button class="common-btn w-100" type="submit">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
            </form>
        </div>

    </div>

    </div>
    <!-- </div> -->

</section>
<!--------- Registration area End --------->