* { padding: 0; margin: 0; box-sizing: border-box; }

.img { width: 230px; height: 130px; margin: 0px auto; }

.img img { width: 100%; height: auto; object-fit: cover; }

.auth-container { background: linear-gradient(#010120, black); width: 100%; position: relative; height: 100vh; }

@media screen and (min-width: 960px) { .auth-container { display: flex; justify-content: space-between; align-items: center; margin-bottom: 3rem; } }

.auth-container .wrapper-container { height: 100%; width: 100%; }

@media screen and (min-width: 960px) { .auth-container .wrapper-container { display: flex; justify-content: space-between; align-items: center; } }

.auth-container .wrapper-container .left_sidebar { height: 100%; height: auto; background-color: #fff; }

.auth-container .wrapper-container .left_sidebar h2 { padding: 5px; text-align: center; text-transform: uppercase; font-weight: 500; font-size: 27px; }

.auth-container .wrapper-container .left_sidebar .already { padding: 10px; font-size: 14px; display: flex; justify-content: space-between; align-items: center; }

.auth-container .wrapper-container .left_sidebar .already a { text-decoration: none; }

@media screen and (min-width: 960px) { .auth-container .wrapper-container .left_sidebar { width: 50%; padding: 10px; padding: 0px  30px; height: 100%; } }

.auth-container .wrapper-container .right_sidebar { display: none; }

@media screen and (min-width: 960px) { .auth-container .wrapper-container .right_sidebar { background: linear-gradient(rgba(8, 6, 6, 0.233), black), url("https://images.unsplash.com/photo-1531482615713-2afd69097998?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzB8fG1lZXRpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"); background-repeat: no-repeat; background-position: center; background-size: cover; display: block; width: 50%; height: 100%; padding: 10px; } }
